<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="invin.com.similarmovies" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HoloLightDarkActionBarTheme" >
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplaySimilarMoviesListActivity"
            android:label="@string/title_activity_display_similar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invin.com.similarmovies.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".DisplayMoviesForSelectionActivity"
            android:label="@string/title_activity_display_movies_for_selection" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invin.com.similarmovies.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".NoResultsActivity"
            android:label="@string/title_activity_no_results" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
    </application>

</manifest>
